/* Selector Universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Select ID */
#contenedor {
    width: 1600px;
    height: 1750px;
    background-color: antiquewhite;
}

#encabezado {
height: 5%;
background-color: orangered;

}

#menu{
    height: 5%;
    background-color:#ddd;
    margin: 1em auto;

}
#contenido{
    height: 70%;
    width: 61%;
    background-color: white;
    margin: 0.5em;
    float: left;
}
#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color: bisque;
    margin: 0.5em;
    float: right;
}
#pie{
    height: 5%;
    background-color: aquamarine;
    border-radius: 1em;
    margin: 1.5em;
}
/* Selector de clase */

.texto{
    text-align: justify;
    font-family: Tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.logo img{
    height: 60px;
    cursor: pointer;
}
.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
}
.encabezado_articulo2{
    text-align: center;
    background: #333;
    color: white;
    margin: auto 4em;
}
/*SECCIÓN EQUIPO*/
#equipo{
    height: 60vh;
    display: flex;
}
.persona{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}


.persona-imagen{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);  /*blanco y negro*/
}

.persona:hover{
    flex-grow: 3;
}

.persona:hover .persona-imagen{
    filter: grayscale(0%);
}

.persona-info{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0; /*ocultar texto*/
    transition: all 0.1s;
}

.persona:hover .persona-info{
    opacity: 1;
    bottom: 60px;
    transition-delay: 0.3s;
}



.persona-info p{
    color: var(--color-secundario);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(255, 94, 0, 0.5);
}


.imagenes{
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    border-radius: 4px;
    width: 150px;

}

/* Selecto de etiqueta */
ul {
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;

}

